VITE_API_BASE_URL=https://your-server-project.vercel.app
# For local frontend-only serving on the same origin, you can leave this empty.
VITE_IMGBB_API_KEY=your_imgbb_key
VITE_APP_USERNAME=admin
VITE_APP_PASSWORD=admin123
VITE_COMPANY_NAME=M/s Sadia Auto Parts
VITE_COMPANY_ADDRESS=02 No Kanaipur School Market , Kanaipur , Faridpur
VITE_COMPANY_PROPRIETOR=Owner Name
VITE_COMPANY_PHONE=+8801741165673
